/* Ajustements */

body {
	font-family: lato, sans-serif;
	font-size: 80%;
	width: 95%;
	margin: 0 auto;
}


a{color: currentcolor; text-decoration:none;}

.debug-r {background-color:rgba(256,0,0,0.5);}
.debug-g {background-color:rgba(0,256,0,0.5);}
.debug-b {background-color:rgba(0,0,256,0.5);}

/* HEADER ///////////////////////////////////////////////////////////////////////////////////// */

.clear{
	
	clear: both;
	
}

button{
	
	background-color: black;
	color: white;

}

header {
	
	width: 100%;
	/*text-shadow: 2px 2px 2px rgba(0,0,0,0.75);*/
}

header .top-h {
	
	padding: 1em; 
	
	border-bottom: solid 0.5em #2e2e2e;
}

header #logo{
	
	/*Taille*/
	width:10%;
	min-width : 150px;
}

header .lang-search{
	
	float: right;
	
	margin-top: 15px;
	
}

header .flag{

	float: right;

	width: 12%;
	min-width: 25px;
	
	margin: 0.5em;
}

header .search-bar {
	
}
